$fontColor: #2196F3;
$white: #FFF;
$greyFont: #A0B0B9;

.ticket {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 46px 49px 49px;
    grid-column-gap: 18px;
    background-color: $white;
    margin-top: 20px;
    padding: 20px;
    width: 457px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px #0000001A;
    @media (max-width: 768px) {
        width: 100%;
        box-sizing: border-box;
        grid-template-columns: auto auto auto;

    }
    &__price {
        font-size: 24px;
        color: $fontColor;
        @media (min-width: 405px) and (max-width: 450px) {
            font-size: 20px;
        }
        @media (max-width: 404px) {
            font-size: 17px;
        }
    }
    &__company_logo {
        grid-column-start: 3;
        justify-self: end;
    }
    &__airport, &__on_way, &__transfer_count {
        margin-top: 10px;
    }
    &__airport_reduction, &__on_way_way, &__transfer_count_count {
        color: $greyFont;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.5px;
        @media (max-width: 404px) {
            font-size: 10px;
        }
    }
    &__airport_time, &__on_way_time, &__transfer_count_airport {
        font-size: 14px;
        line-height: 21px;
        @media (max-width: 404px) {
            font-size: 12px;
        }
    }
}
