$white: #FFF;
$blue: #2196F3;

.more-button {
    height: 50px;
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    @media (max-width: 768px) {
        padding-left: 20vw;
        padding-right: 20vw;
    }
    @media (min-width: 769px) {
        width: 502px;
    }
}